* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-color: rgb(233, 236, 239, 1);
}

.layout-padding {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.pp {
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-color: white;
}

.pp-big {
  object-fit: cover;
  width: 70px;
  height: 70px;
  background-color: white;
}

.pp-xxl {
  object-fit: cover;
  width: 150px;
  height: 150px;
  background-color: white;
}

.username-link {
  font-size: 0.7rem;
}

.user-link:hover {
  background-color: rgb(219, 219, 219);
}

.post-link:hover {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(174, 149, 230);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(130, 75, 250);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
