:root {
  --shadow-color: 259deg 75% 38%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-color: rgb(233, 236, 239, 1);
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  min-width: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.shadow-low {
  box-shadow: var(--shadow-elevation-low);
}

.shadow-medium {
  box-shadow: var(--shadow-elevation-medium);
}

.shadow-high {
  box-shadow: var(--shadow-elevation-high);
}

.layout-padding {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.pp {
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-color: white;
}

.pp-big {
  object-fit: cover;
  width: 70px;
  height: 70px;
  background-color: white;
}

.pp-xxl {
  object-fit: cover;
  width: 150px;
  height: 150px;
  background-color: white;
}

.username-link {
  font-size: 0.7rem;
}

.user-link:hover {
  background-color: rgb(219, 219, 219);
}

.post-link:hover {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(174, 149, 230);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(130, 75, 250);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
